@using NoSQL_Project.Models.Enums
@model NoSQL_Project.Models.User
@{
	ViewData["Title"] = "Add New User";
}
<h1>Add New User</h1>

<form method="post" asp-action="AddNewUser">
	<div>
		<label class="form-label" for="FirstName">First Name:</label>
		<input class="form-text" type="text" id="FirstName" name="FirstName" value="@Model.FirstName" required />
	</div>
	<div>
		<label class="form-label" for="LastName">Last Name:</label>
		<input  class="form-text" type="text" id="LastName" name="LastName" value="@Model.LastName" required />
	</div>
	<div>
		<label class="form-label" for="Email">Email:</label>
		<input class="form-text" type="email" id="Email" name="EmailAddress" value="@Model.EmailAddress" required />
	</div>
	<div>
		<label class="form-label" for="Phone">Phone:</label>
		<input class="form-text" type="tel" id="Phone" name="PhoneNumber" value="@Model.PhoneNumber" required />
	</div>
	<div>
		<label  class="form-label" for="Password">Password:</label>
		<input class="form-text" type="password" id="Password" name="PasswordHash" required />
	</div>
	<div>
		<label class="form-label" for="Role">Role:</label>
		<select style="color: black;" class="form-select" id="Role" name="UserType" required>
			<option value="">Select Role</option>
			@{
				UserType[] roles = (UserType[])Enum.GetValues(typeof(UserType));
				foreach(var role in roles)
				{
					<option style="color: black;" value="@role">@role</option>
				}

			}
		</select>
	</div>
	<div>
		<label class="form-label" for="Location">Location:</label>
		<select class="form-select" id="Location" name="locationId" required>
			<option value="">Select Location</option>
			@{
				if (ViewBag.Locations != null)
				{
					List<Location> dbLocations = ViewBag.Locations;
					foreach (var location in dbLocations)
					{
						<option style="color: black;" value="@location.Id">@location.Branch</option>
					}
				}
			}
			
		</select>
	</div>
	<button type="submit">Add User</button>
</form>
@{
	
}