@model List<User>

<h1>Users</h1>


@if (TempData["Success"] != null){
    <p class="alert-success">@TempData["Success"]</p>
}
<a class="btn btn-primary" href="/User/AddNewUser">Create New User</a>
<table>
    <thead>
        <tr><th>Name</th><th>Email</th></tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.FirstName</td>
                <td>@u.EmailAddress</td>
                <td>@u.UserType</td>
                <td>@u.Location.Branch</td>
                <td>@u.Location.BranchCode</td>

            </tr>
        }
    </tbody>
</table>
