@using NoSQL_Project.Models.Enums
@model PaginatedList<NoSQL_Project.Models.Incident>
@{
    ViewData["Title"] = "Incidents";
}
@if (TempData["Success"] != null)
{
<p class="alert-success">@TempData["Success"]</p>
}
@if (TempData["Error"] != null)
{
<p class="alert-danger">@TempData["Error"]</p>
}

<header class="main_container_header">
    <div>
        <h3>Incidents</h3>
    </div>

    <div>
        <a class="btn btn-primary" href="/Incident/Create">Create New Incident</a>
    </div>
</header>

<div class="charts_container">
    <div id="chart_left_container">
        <canvas id="chart1" width="150" height="150"></canvas>
    </div>
    <div id="chart_right_container">
        <canvas id="chart2" width="150" height="150"></canvas>
    </div>
</div>

<div class="search_container">
    <div class="search_options_container">
        <nav>
            <ul class="search_options_ul">
                <li class="search_options_li">
                    <a class="search_options_a" asp-action="Index" asp-route-statusFilter="All">All</a>
                </li>
                <li class="search_options_li">
                    <a class="search_options_a" asp-action="Index" asp-route-statusFilter="Open">Open</a>
                </li>
                <li class="search_options_li">
                    <a class="search_options_a" asp-action="Index" asp-route-statusFilter="InProgress">In Progress</a>
                </li>
                <li class="search_options_li">
                    <a class="search_options_a" asp-action="Index" asp-route-statusFilter="Closed">Closed</a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="search_filters_container">
        <input class="search_form_input" type="search" name="name" value="" placeholder="Search" />
    </div>
</div>

<div class="table_NICE_container">
    <table class="table_NICE">
        <thead>
            <tr>
                <th>Level</th>
                <th>Title</th>
                <th>Status</th>
                <th>Assigned to</th>
                <th>Branch</th>
                <th>Reported At</th>
                <th>SLA</th>
            </tr>
        </thead>
        <tbody class="table_NICE_body">
            @foreach (Incident incident in Model.Items)
            {
            string incidentStatusStyle = "";
            string priorityLevelStyle = "";
            // Determine priority style
            switch (incident.Priority)
            {
            case Priority.low:
            priorityLevelStyle = "priority_low";
            break;
            case Priority.medium:
            priorityLevelStyle = "priority_medium";
            break;
            case Priority.high:
            priorityLevelStyle = "priority_high";
            break;
            case Priority.critical:
            priorityLevelStyle = "priority_critical";
            break;
            }
            // Determine status style
            switch (incident.Status)
            {
            case IncidentStatus.open:
            incidentStatusStyle = "status_open";
            break;
            case IncidentStatus.resolved:
            incidentStatusStyle = "status_closed";
            break;
            case IncidentStatus.closed_without_resolve:
            incidentStatusStyle = "status_in_progress";
            break;
            }
                
            <tr>
                
                <td>
                    <div class="priority_label @priorityLevelStyle">@incident.Priority</div>
                </td>
                    <td>
                        <a class="incident_href" asp-controller="Incident" asp-action="IncidentDetails" asp-route-id="@incident.Id">
                            @incident.Subject
                        </a>
                    </td>
                <td>
                    <div class="priority_label @incidentStatusStyle">@incident.Status</div>
                </td>
                <td>@(incident.AssignedTo != null ? $"{incident.AssignedTo.FirstName} {incident.AssignedTo.LastName}" : "Unassigned")</td>
                <td>@incident.Location.Branch</td>
                <td>@incident.ReportedAt.ToString("g")</td>
                <td>@incident.Deadline.ToString("g")</td>
            
            </tr>
                
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="1"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <span>First</span>
                    </a>
                </li>

                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <span>Previous</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="@i"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                </li>
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <span>Next</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <span>Last</span>
                    </a>
                </li>


            </ul>
        </nav>
    </div>
</div>
@section Scripts{
<script>
    function drawDonut(canvasId, value, total, color){
        const canvas = document.getElementById(canvasId);
        const context = canvas.getContext("2d");
        const percent = value / total;

        context.lineWidh = 30;
        context.strokeStyle = "lightgrey";
        context.beginPath();
        context.arc(75, 75, 55, 0, 2 * Math.PI);
        context.stroke();

        context.strokeStyle = color;
        context.beginPath();
        context.arc(75, 75, 55, -0.5 * Math.PI, (percent * 2 * Math.PI) - 0.5 * Math.PI);
        context.stroke();

        //Text
        context.fillStyle = "#000";
        context.font = "20px Arial";
        context.textAlign = "center";
        context.textBaseLine = "middle";
        context.fillText(value + (total ? "/" + total : ""), 75, 75);
    }
    drawDonut("chart1", 14, 75, "orange");
    drawDonut("chart2", 14, 75, "orange");
</script>
}
