@model List<NoSQL_Project.Models.UserForTransferDto>

@{
    ViewData["Title"] = "Transfer Incident";
    string incidentId = ViewBag.IncidentId;
}

<h2>Transfer Incident</h2>

<div class="table_NICE_container">
    <form asp-action="TransferIncident" method="post">
        <input type="hidden" name="incidentId" value="@incidentId" />

        <table class="table_NICE">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Total Incidents at the Moment</th>
                </tr>
            </thead>
            <tbody class="table_NICE_body">
                @foreach (var user in Model)
                {
                <tr>
                    <td>
                        <input type="radio" name="userForTransferId" value="@user.UserId.ToString()" required />
                    </td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.TotalIncidents</td>
                </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
</div>

